<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{books[index].title}}</title>
  </head>
  <body>
    <div>
      <h2>{{books[index].title}}</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis
        officia consequatur ratione! Est odit sed quibusdam, dolor suscipit vero
        voluptate itaque quia ex expedita saepe corrupti obcaecati voluptas
        perferendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem minima
        maiores hic. Possimus veniam animi ex quis, assumenda nesciunt, magnam
        distinctio velit doloribus eveniet tenetur! Magni quia quaerat
        aspernatur asperiores quod illum sint eos, cum nisi perferendis
        molestiae. Dolore quas nemo commodi. Cum saepe rerum a labore quod magni
        at, quasi in minus expedita libero atque dolorum ipsum nemo optio
        accusamus eveniet commodi placeat. Sed ea atque, architecto ullam at
        laboriosam sint, dolor aut voluptate dolores doloribus. Tempora sunt
        numquam, maiores ducimus sit enim asperiores earum dignissimos possimus
        quibusdam. Eum quia accusamus, laudantium voluptates labore
        consequuntur! Voluptate non perferendis, dolorem quia, iure dolores
        sequi iste at quas harum reiciendis dignissimos natus temporibus rem
        unde. Reprehenderit minus maxime nesciunt placeat reiciendis similique
        veritatis eos, fuga quibusdam consequatur aperiam impedit id nisi facere
        aut ullam optio, sint soluta suscipit sequi voluptatem at voluptate!
        Quia, molestiae. Quia quae ratione rem dolores consectetur, aspernatur
        unde voluptatem consequuntur fugiat eveniet, nihil, accusamus provident
        ut expedita id quisquam officia impedit at officiis aut nesciunt
        possimus perspiciatis labore minus! Temporibus, amet animi quisquam
        similique unde pariatur repellat distinctio quia fugiat quis molestias
        suscipit omnis ab possimus corporis optio dolorum cupiditate voluptatum,
        libero modi commodi ea. Dignissimos, perferendis quasi nemo vitae itaque
        repellendus expedita quisquam quas cum excepturi aliquid sit eius iste
        eaque nisi temporibus, molestias et repudiandae asperiores? Esse magnam
        alias, suscipit corporis rem est temporibus. Quod tempora accusantium
        minus. Repellat odit itaque esse eligendi earum dolore vitae ullam
        ratione adipisci officia minima eaque laudantium recusandae quo id animi
        vero tempore porro laboriosam explicabo magni architecto, necessitatibus
        accusantium voluptas! Sapiente dignissimos unde aut nulla voluptas
        mollitia enim ipsa est! Aliquam quae perferendis aperiam nulla, vel enim
        odio beatae vero nisi veritatis ex iure dolores inventore doloremque
        dolore, porro natus. Quaerat consectetur deleniti, repellat sequi
        dolorem nesciunt et?
      </p>
    </div>
  </body>
</html>
